################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/__pycache__
/tasks/dynamic_tinybert_symptoms_to_disease
/tasks/results/checkpoint-3
